button{
    width: 30px;
    height: 30px;
    border-radius: 10px;
    margin: 0 auto;
    background-color: white;
    cursor: pointer;
    }

    button:hover{
        background-color: #c8e6ff
    }
    .canvas-holder{
        width:400px;
        height: auto;
        margin: 0 auto;
        position: relative;
    }
    @media (min-width: 700px){
        .canvas-holder{
            width:500px;
            
        }
    }
    @media (min-width: 1200px){
        .canvas-holder{
            width:800px;
        }
    }
    .btn-img{
        background-size: 70%;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    
    button.align-left{
        background-image: url("../img/left.png");
    }
    
    button.align-right{
        background-image: url("../img/right.png")
    }
    
     button.align-center{
        background-image: url("../img/center.png")
    }
    
    .increase{
        background-image: url("../img/plus.png")
    }
    
    .decrease{
        background-image: url("../img/minus.png")
    }
    
    .text-container{
        border-radius: 10px;
        text-align: center;
        margin:auto;
        width: 450px;
        background-color: #6f96b7;
        padding:20px;
        border: 1px solid black;
    }
    
    .text-input{
        text-align: center;
        margin-top:20px;
        width: 90%;
    }
    
    .font-btns{
        margin-top:20px;
        text-align: center;
        margin-bottom:20px;
    }
    
    .font-colors{
        margin-top:20px;
    }
    
  
    
    header.canvas-header{
        background-color:#6f96b7;
        color: #000;
        text-align: center;
        font-size: 3rem;
        width: 100%;
        /* margin-bottom: 20px; */
    }
    
    .canvas{
        display: block;
        outline: 1px solid black;
        margin: 0 auto;
    }
    
    .text-shadow{
        margin-bottom:20px;
    }
  
    .reveal{
        display:block;
    }
