@import 'base.css';
@import 'helpers.css';
@import 'header.css';
@import 'nav-bar.css';
@import 'keywords.css';
@import 'img-gallery.css';
@import 'modal.css';

/* FONTS */
@font-face {
    font-family: 'heroes';
    src: url("../fonts/heroes/Heroes\ Legend.ttf") format("truetype");
}

@font-face {
font-family: 'kaushan';
src: url("../fonts/Kaushan_Script/kaushan.ttf") format("truetype");
}

@font-face {
font-family: 'guthen';
src: url("../fonts/guthen/Guthen\ Bloots\ Personal\ Use.ttf") format("truetype");
}

@font-face {
font-family: 'outrun';
src: url("../fonts/outrun/Outrun\ future.otf") format("truetype");
}

@font-face {
font-family: 'Badabb';
src: url("../fonts/Abadabb/BADABB__.TTF") format("truetype");
}



